body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: #333;
}
a, a:hover, a:active, a:visited {
  color: black;
}
h2 {
  font-weight: 300;
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.App-content {
  min-height: 92vh;
  width: 100vw;
}
.logo {
  position: relative;
  width: 80px;
  height: 80px;
  top: -120px;
  left: -18px;
  animation: App-logo-spin infinite 10s linear;
  transform-origin: 40px 42px;
}
.logo-still {
  position: relative;
  left: 37vw;
  width: 100px;
  height: 1px;
}
.logo-top {
  position: relative;
  top: -220px;
  left: -20px;
  width: 110px;
  height: 110px;
}

.init {
  min-height: 92vh;
}
.Top {
  position: fixed;
  height: 48px;
  width: 100vw;
  top: 0;
  margin-top: 4px;
  background-color: rgba(238,238,238,.5);
}
.Top .user span {
  margin-right: 4px;
  margin-left: 2px;
}
.Top .disabled {
  color: white;
}
.Top .logo-mini {
  background: url('/img/logo.png') no-repeat center;
  background-size: 25px;
  background-position: 35px;
}

.ui.grid.Top {
  margin-left: 0;
  margin-top: -4px;
}

.Admin-Page {
  padding-top: 75px;
  background: rgba(180,210,220,1);
  color: white;
}

/* --- PRODCUTS ------------------------ */

.catalog li {
  display: block;
  margin: 14px 0;
}
.catalog ul {
  padding: 0;
}
.catalog .item {
  height: 300px;
}
.catalog .item span {
  margin: 0 auto;
  padding: 1px 16px;
  background-color: white;
  color: #666;
  font-size: 12px;
  display: flex;
}

.product-wraper {
  height: 240px;
  width: auto;
  overflow-y: hidden;
}
.product-list {
  position: relative;
  max-height: 210px;
}
.product-list ul {
  min-width: 300vw;
  max-height: 200px;
  padding: 0;
  white-space: nowrap;
}
.product-list li {
  display: inline-block;
  float: left;
  margin-right: 10px;
  list-style: none;
}
.product {
  width: 95vw;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #ddd;
}
.product span {
  margin: 0 auto;
  padding: 1px 16px;
  background-color: black;
  color: white;
  font-size: 12px;
}
.product p {
  display: inline-block;
  margin: 0 auto;
  max-width: 280px;
  color: white;
  word-wrap: normal;
}
.pee {
  font-family: 'TimesNewRoman';
  font-size: 1.8em;
  font-weight: bold;
}
.pi {
  background: url('/img/pi.png') no-repeat center;
}
.pi2 {
  background: url('/img/pi2.png') no-repeat center;
}
.soft {
  background: url('/img/soft.png') no-repeat center;
}
.pivo {
  background: url('/img/pivo.png') no-repeat center;
}
.sauce {
  background: url('/img/sauce.png') no-repeat center;
}
.premium {
  background: url('/img/premium.png') no-repeat center;
}

/* --- PRODUCTS MENU UI ------------------ */
.menu-prod {
  height: 30px;
}
.menu-prod ul {
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
}
.menu-prod li {
  display: inline-block;
  float: left;
  margin: 0 16px;
}
.menu-prod .active {
  color: #2185d0;
}


/* --- ORDER ITEMS UI ------------------ */
.order-list {
  margin: 0;
  margin-top: 1em;
  padding: 10px;
  min-height: 100px;
  text-align: left;
  border-top: 1px dashed #bbb;
  background-color: rgba(230,230,230,.5);
}
.order-list .ui.grid {
  margin: 0;
  padding-top: 10px;
}
.order-list .column {
  text-align: center;
}
.order-list .six {
  text-align: left;
}
.order-list .item {
  height: 40px;
  border-bottom: 1px solid #ddd;
}
.order-list .nopad {
  padding: 0!important;
}
.order-list button {
  margin-top: -15px!important;
  margin-left: 20px!important;
}

.empty {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ccc;
  font-size: 1.2em;
}

/* --- FORMS --------------------------- */
.custom-form .ui.message {
  width: 100%;
}
.custom-form .ui.form .fields {
  margin: 0 8px!important;
}
.custom-form .ui.form input:not([type]),
.custom-form .ui.form input[type=email],
.custom-form .ui.form input[type=password],
.custom-form .ui.selection.dropdown {
  border-radius: 2em;
  border: 1px solid #999;
}

.custom-form .ui.form input[type=text] {
  width: 70vw;
  border-radius: 2em;
  border: 1px solid #999;
}
.custom-form .ui.form .rect input {
  border-radius: .5em!important;
}
.oval-but .ui.button {
  padding-left: 1.5em!important;
  padding-right: 1.5em!important;
  border-radius: 1.7em!important;
}

.menu-bar .ui.buttons .button:first-child {
  border-top-left-radius: 1em!important;
  border-bottom-left-radius: 1em!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}
.menu-bar .ui.buttons .button:last-child {
  border-top-right-radius: 1em!important;
  border-bottom-right-radius: 1em!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.carrousel {
  position: relative;
  display: flex;
  left: 0;
}
.submenu {
  margin-left:30px!important;
  min-width: 90vw;
}
.move {
  -webkit-transition-property: left;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-property: left;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.submit-but {
  min-width: 160px;
  border-radius: 1em!important;
}
.add-but {
  /*background-color: #f34c31!important;*/
  color: white!important;
}

/* -- ALERT FORMS: --------------------------------------------*/
.alert {
  padding: 14px;
  background-color: rgba(200,50,50,.4);
  border-radius: 6px;
  color: rgb(130,0,0);
}
.alert p {
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  font-weight: bold;
}
.alert .signup .ui.form input, .alert .signup .ui.form input:focus, .alert .signup .ui.form input>input {
  border: 1px solid black;
  border-radius: 1em;
  background: white;
  border-color: rgba(134,0,0,1)!important;
  color: black;
}
.alert .signup .ui.form input>input {
  border: 1px solid black;
  border-radius: 1em;
  background: none;
}
.alert .signup .ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled {
  opacity: 1;
}
.warent {
  color: red;
}

/* ------ MISC: ------------------------ */
.padded {
  padding-left: 8px!important;
  padding-right: 8px!important;
}
.nopadd {
  padding: 0;
}
.extra-padded {
  padding-left: 38px!important;
  padding-right: 38px!important;
}
.margined {
  margin: 8px;
}
.full-width, .full-width .ui.input {
  width: 90vw;
}
.full-width .ui.input {
  padding-left: 15px;
}
p.left {
  text-align: left;
  padding-top: 12px;
  padding-left: 20px;
}
p.vintage {
  color: rgba(140,60,20,.9);
  margin-top: 12px;
  font-style: italic;
  font-size: 1.2em;
  border-top: 1px dashed rgba(140,60,20,.9)
}
p.short {
  margin-top: 14px;
  display: flex;
}
.short .ui.input,
.short .ui.selection.dropdown {
  width: 40vw;
  margin-top: -14px;
  margin-left: 20px;
}
.short .ui.selection.dropdown {
  max-width: 100px!important;
  min-width: 100px;
}
.central {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.topped {
  padding-top: 35px;
}
.no-border {
  border-top: 0!important;
  border-bottom: 0!important;
  border-left: 0!important;
  border-right: 0!important;
}
.selected-row {
  background-color: #ece5d5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -- MEDIA ------------------------------ */
@media only screen and (min-width: 436px) {
  body {
    color: #666;
  }
  .App-content {
    height: 95vh;
    margin: 20px auto;
    max-width: 460px;
    height: 90vh;
    border: 8px solid white;
    border-radius: 24px;
  }
  .padded {
    padding-left: 16px;
    padding-right: 16px;
  }
}
